<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" 
      sec:authorize="isAuthenticated()">     

    <head th:include="fragments/scripts :: header"></head>

    <body class="fixed-left">

        <div id="wrapper">       
            <!--Navbar-->
            <div th:include="navbar/navbar :: navbar"></div>
            <!--Menu-->
            <th:block th:include="menu/menu :: menu"></th:block> 

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== --> 
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                                <div class="panel panel-default">
                                    <div class="panel-heading" ><h3 class="panel-title">Cadastrar Usuarios</h3> </div>
                                    <div class="panel-body">                                        
                                        <!-- Formulário de cadastro de Usuario -->
                                        <form class="form-horizontal" role="form" enctype="application/x-www-form-urlencodeds"  th:object="${usuario}" th:action="@{${@environment.getProperty('baseUrl')+'/sistema/api/usuario'}}" th:method="POST"> <!-- Formulário -->

                                            <th:block th:include="fragments/mensagemErro :: mensagemErro"></th:block> 

                                            <!-- Nome -->
                                            <div class="form-group jr-required" th:classappend="${#fields.hasErrors('nome')} ? has-error">                                                    
                                                <div class="col-md-12 ">
                                                    <div class="input-group ">
                                                        <span class="input-group-addon "><i class="fa col-md-5"><b>Nome</b></i></span>
                                                        <input type="text" autofocus="autofocus" class="form-control" th:required="required" name="nome" th:field="*{nome}"/>
                                                    </div>
                                                </div>    
                                            </div><!-- form-group -->

                                            <!-- Sexo -->
                                            <div class="form-group jr-required">          
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa"><b>Nível</b></i></span>
                                                        <select class="form-control" name="nivelUsuario">
                                                            <option value=''></option>
                                                            <option value='ADMINISTRADOR'>Administrador</option>
                                                            <option value="PROFESSOR">Professor</option>
                                                            <option value="OPERADOR">Operador</option>                                                            
                                                        </select>                                                    
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- CPF -->
                                            <div class="form-group jr-required">   
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon "><i class="fa"><b>CPF</b></i></span>
                                                        <div class="input-group col-md-12 ">
                                                            <input type="text" name="cpf" data-mask="999.999.999-99"  class="form-control" th:required="required" />                                                        
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- form-group --> 

                                            <!-- E-mail -->
                                            <div class="form-group jr-required">        
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon "><i class="fa"><b>E-mail</b></i></span>
                                                        <input type="email"  name="email"  class="form-control" />
                                                    </div>
                                                </div>
                                            </div> <!-- form-group --> 

                                            <!-- Sexo -->
                                            <div class="form-group jr-required">          
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa"><b>Sexo</b></i></span>
                                                        <select class="form-control" name="sexo" >
                                                            <option value=''></option>
                                                            <option value='M'>Masculino</option>
                                                            <option value="F">Feminino</option>
                                                        </select>                                                    
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Telefone -->
                                            <div class="form-group jr-required">        
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-addon "><i class="fa"><b>Tel</b></i></span>
                                                        <div class="input-group col-md-12 ">
                                                            <input type="tel" name="telefone" data-mask="(99) 9999-9999"  class="form-control"  />                                                        
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Celular -->
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-addon "><i class="fa"><b>Cel</b></i></span>
                                                        <div class="input-group col-md-12 ">
                                                            <input type="tel" name="celular" data-mask="(99) 9 9999-9999"  class="form-control" th:required="required" />                                                        
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- form-group --> 

                                            <!-- Data Nascimento-->
                                            <div class="form-group jr-required">                                         
                                                <div class="col-md-6">
                                                    <div class="input-group ">
                                                        <span class="input-group-addon "><i class="fa col-md-5"><b>Data</b></i></span>
                                                        <input type="date" class="form-control" name="dataNasc"/>
                                                    </div>
                                                </div>    

                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-addon "><i class="fa"><b>Idade</b></i></span>
                                                        <div class="input-group col-md-12 ">
                                                            <input type="number" name="idade" min="1" max="100" class="form-control"  />                                                        
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- form-group -->                                                

                                            <!-- Cep -->
                                            <div class="form-group jr-required">                                                    
                                                <div class="col-md-12">
                                                    <div class="input-group ">
                                                        <span class="input-group-addon "><i class="fa "><b>Cep</b></i></span>
                                                        <input type="tel"  id="cep" class="form-control" data-mask="99999-999" th:required="required" name="cep"/>
                                                    </div>
                                                </div>    
                                            </div><!-- form-group -->

                                            <!-- Cidade-->
                                            <div class="form-group jr-required">                                         
                                                <div class="col-md-6">
                                                    <div class="input-group ">
                                                        <span class="input-group-addon "><i class="fa col-md-5"><b>Cidade</b></i></span>
                                                        <input type="text" id="cidade" class="form-control" name="cidade"/>
                                                    </div>
                                                </div>    

                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-addon "><i class="fa"><b>Uf</b></i></span>
                                                        <div class="input-group col-md-12 ">
                                                            <input type="text" maxlength="2" name="uf" id="uf"  class="form-control"  />                                                        
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- form-group -->  

                                            <div class="form-group jr-required">     
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-addon "><i class="fa"><b>Bairro</b></i></span>
                                                        <div class="input-group col-md-12 ">
                                                            <input type="text"  name="bairro" id="bairro"  class="form-control"  />                                                        
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-addon "><i class="fa"><b>Rua</b></i></span>
                                                        <div class="input-group col-md-12 ">
                                                            <input type="text"  name="logradouro" id="rua"  class="form-control"  />                                                        
                                                        </div>
                                                    </div>
                                                </div>                                             
                                            </div>

                                            <div class="form-group jr-required">     
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-addon "><i class="fa"><b>Num</b></i></span>
                                                        <div class="input-group col-md-12 ">
                                                            <input type="text" maxlength="5" name="numeroEnd"  class="form-control"  />                                                        
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-addon "><i class="fa"><b>Compl</b></i></span>
                                                        <div class="input-group col-md-12 ">
                                                            <input type="text"  maxlength="50" name="complemento"  class="form-control"  />                                                        
                                                        </div>
                                                    </div>
                                                </div>                                             
                                            </div>                                          


                                            <!-- Login -->
                                            <div class="form-group jr-required">        
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-addon "><i class="fa"><b>Login</b></i></span>
                                                        <div class="input-group col-md-12 ">
                                                            <input type="text" name="login" class="form-control"  />                                                        
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Senha -->
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-addon "><i class="fa"><b>Senha</b></i></span>
                                                        <div class="input-group col-md-12 ">
                                                            <input type="text" name="senha"  class="form-control" th:required="required" />                                                        
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- form-group --> 




                                            <div class="modal-footer"> 
                                                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancelar</button> 
                                                <button type="submit" class="btn btn-info waves-effect waves-light">Salvar</button> 
                                            </div>
                                        </form><!-- Fim do Formulário -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->
                        </div> <!-- End row -->
                    </div> <!-- container -->
                </div> <!-- content -->
            </div>
            <!-- ============================================================== -->
            <!-- End right Content here -->
            <!-- ============================================================== --> 
        </div> <!--Navbar-->

        <script>
            var resizefunc = [];
        </script>

        <th:block th:include="fragments/scripts :: scripts"></th:block> 


    </body>
</html>