<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <th:block th:replace="fragments/scripts :: header"></th:block>
    <link href="../../static/assets/select2/select2.css" rel="stylesheet" th:href="@{/assets/select2/select2.css}" />

</head>

<body class="fixed-left">
    <th:block th:include="fragments/mensagemSucesso :: mensagemSucesso"></th:block>
    <div class="content-loader">
        <div id="loader">
            <i class="fa fa-spinner fa-spin text-primary loader" style="font-size: 50px;"></i>
        </div>
    </div>
    <div id="wrapper">
        <!--Navbar-->
        <div th:include="navbar/navbar :: navbar"></div>
        <!--Menu -->
        <th:block th:include="menu/menu :: menu"></th:block>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Cadastrar Turma</h3>
                                </div>
                                <div class="panel-body">
                                    <!-- Formulário de cadastro de Turma -->
                                    <div class="container-fluid" th:if="${turma.id}==null">

                                        <form class="form-horizontal" role="form" enctype="application/x-www-form-urlencodeds" th:object="${turma}" th:action="@{${@environment.getProperty('baseUrl')+'/sistema/turma'}}"
                                            th:method="POST">
                                            <!-- Formulário -->
                                            <th:block th:include="fragments/mensagemErro :: mensagemErro"></th:block>

                                            <!-- Nome Turma-->
                                            <div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
                                                <div class="col-md-12 ">
                                                    <div class="input-group ">
                                                        <span class="input-group-addon ">
                                                            <i class="fa col-md-5">
                                                                <b>Nome</b>
                                                            </i>
                                                        </span>
                                                        <input type="text" autofocus="autofocus" class="form-control" th:required="required" name="nome" th:field="*{nome}" />
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Nivel Turma -->
                                            <div class="form-group" th:classappend="${#fields.hasErrors('nivelTurma')} ? has-error">
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa">
                                                                <b>Nível*</b>
                                                            </i>
                                                        </span>
                                                        <select class="form-control" name="nivelTurma" th:field="*{nivelTurma}">
                                                            <option value=''></option>
                                                            <option value='INICIANTE'>Iniciante</option>
                                                            <option value="INTERMEDIARIO">Intermediário</option>
                                                            <option value="AVANCADO">Avançado</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Lista Clientes -->
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa">
                                                                <b>Clientes</b>
                                                            </i>
                                                        </span>
                                                        <select class="select2" multiple='multiple' data-placeholder="Selecione Clientes..." th:field="*{clientes}">
                                                            <option th:each=" cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nome}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="reset" class="btn btn-danger waves-effect" data-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-info waves-effect waves-light">Salvar</button>
                                            </div>
                                        </form>
                                        <!-- Fim do Formulário Salvar -->
                                    </div>


                                    <!-- Formulário de EDIÇÃO de Turma -->
                                    <div class="container-fluid" th:if="${turma.id}!=null">

                                        <form class="form-horizontal" role="form" enctype="application/x-www-form-urlencodeds" th:object="${turma}" th:action="@{${@environment.getProperty('baseUrl')+'/sistema/turma'}}"
                                            th:method="PUT">
                                            <!-- Formulário -->

                                            <th:block th:include="fragments/mensagemErro :: mensagemErro"></th:block>

                                            <!-- ID -->
                                            <div class="form-group" th:classappend="${#fields.hasErrors('id')} ? has-error">
                                                <div class="col-md-3 ">
                                                    <div class="input-group ">
                                                        <span class="input-group-addon ">
                                                            <i class="fa col-md-2">
                                                                <b>Cod</b>
                                                            </i>
                                                        </span>
                                                        <input type="text" th:readonly="readonly" class="form-control" th:required="required" name="id" th:field="*{id}" />
                                                    </div>
                                                </div>
                                            </div>


                                            <!-- Nome Turma-->
                                            <div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
                                                <div class="col-md-12 ">
                                                    <div class="input-group ">
                                                        <span class="input-group-addon ">
                                                            <i class="fa col-md-5">
                                                                <b>Nome</b>
                                                            </i>
                                                        </span>
                                                        <input type="text" autofocus="autofocus" class="form-control" th:required="required" name="nome" th:field="*{nome}" />
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Nivel Turma -->
                                            <div class="form-group" th:classappend="${#fields.hasErrors('nivelTurma')} ? has-error">
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa">
                                                                <b>Nível*</b>
                                                            </i>
                                                        </span>
                                                        <select class="form-control" name="nivelTurma" th:field="*{nivelTurma}">
                                                            <option value=''></option>
                                                            <option value='INICIANTE'>Iniciante</option>
                                                            <option value="INTERMEDIARIO">Intermediário</option>
                                                            <option value="AVANCADO">Avançado</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Lista Clientes -->
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa">
                                                                <b>Clientes</b>
                                                            </i>
                                                        </span>
                                                        <select class="select2" multiple='multiple' data-placeholder="Selecione Clientes..." th:field="*{clientes}">
                                                            <option value=''></option>
                                                            <option th:each=" cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nome}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <a type="reset" class="btn btn-danger waves-effect" th:href="@{${@environment.getProperty('baseUrl')+'/sistema/turma'}}">Cancelar</a>
                                                <button type="submit" class="btn btn-info waves-effect waves-light">Salvar</button>
                                            </div>
                                        </form>
                                        <!-- Fim do Formulário Salvar -->
                                    </div>



                                </div>
                                <!-- panel-body -->
                            </div>
                            <!-- panel -->
                        </div>
                        <!-- col -->
                    </div>
                    <!-- End row -->
                </div>
                <!-- container -->
            </div>
            <!-- content -->
        </div>
        <!-- ============================================================== -->
        <!-- End right Content here -->
        <!-- ============================================================== -->
    </div>
    <!--Navbar-->

    <script>
        var resizefunc = [];
    </script>

    <th:block th:include="fragments/scripts :: scripts"></th:block>

    <script>
        jQuery(document).ready(function () {

            jQuery(".select2").select2({
                width: '100%'
            });
        });

    </script>
</body>

</html>