<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" 
      >

    <head >
        <th:block th:include="fragments/scripts :: header" ></th:block>
        <link th:href="@{/assets/timepicker/bootstrap-timepicker.min.css}" rel="stylesheet" type="text/css"/>

    </head>


    <body class="fixed-left"  >
<div class="content-loader">
            <div id="loader">
                <i class="fa fa-spinner fa-spin text-primary loader" style="font-size: 50px;"></i> 
            </div>
        </div>
        <div id="wrapper">       
            <!--Navbar-->
            <div th:include="navbar/navbar :: navbar"></div>
            <!--Menu-->
            <th:block th:include="menu/menu :: menu"></th:block> 
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <div class="panel panel-default">
                                    <div class="panel-heading" ><h3 class="panel-title">Cadastrar Servicos</h3> </div>
                                    <div class="panel-body">                                        
                                        <!-- Formulário de cadastro de Servico -->

                                        <div class="container-fluid" >
                                            <form  class="form-horizontal" role="form" enctype="application/x-www-form-urlencodeds" th:object="${servico}"  th:action="@{${@environment.getProperty('baseUrl')+'/sistema/servico/cadastro'}}" th:method="POST"> <!-- Formulário -->
                                                <th:block th:include="fragments/mensagemErro :: mensagemErro"></th:block> 
                                                <th:block th:include="fragments/mensagemSucesso :: mensagemSucesso"></th:block> 


                                                <input type="hidden" name="id"  th:readonly="#{readonly}" th:field="*{id}" />
                                                <input type="hidden" name="id"  value="true" th:readonly="#{readonly}" th:field="*{ativo}" />


                                                <!-- Formulario -->
                                                <div class="form-group" >   

                                                    <div class="col-md-4 ">
                                                        <div class="input-group " >
                                                            <span class="input-group-addon "><i class="fa col-md-5"><b>Descrição</b></i></span>
                                                            <input title="Nome do Serviço" type="text" autofocus="autofocus" class="form-control" th:required="required" name="descricao" th:field="*{descricao}" />                                                         
                                                        </div>                   
                                                    </div>  
                                                    <div class="col-md-3 ">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">R<i class="fa fa-dollar"></i></span>
                                                            <input type="number"  th:name="${valor}" th:field="*{valor}" class="form-control" placeholder=".."/>
                                                            <span class="input-group-addon"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">,00</font></font></span>
                                                        </div>                 
                                                    </div>  
                                                    <div class="col-md-3 ">
                                                        <div class="input-group">
                                                            <span class="input-group-addon "><i class="fa col-md-3"><b>Tempo</b></i></span>
                                                            <div class=" bootstrap-timepicker ">
                                                                <input class="form-control" id="tempo" type="time" th:name="${tempo}" name="tempo"  th:field="*{tempo}" required="required" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <button type="submit" class="btn btn-info waves-effect waves-light pull-right">Salvar</button> 
                                                    </div>
                                                </div><!-- form-group -->


                                            </form> 

                                            <div class="modal-footer"> 
                                                <table id="datatable" class="table-responsive table-striped table-condensed table-bordered" >
                                                    <thead>
                                                        <tr>
                                                            <th>Cod</th>
                                                            <th>Descrição</th>
                                                            <th>Valor</th>  
                                                            <th>Tempo</th>  
                                                            <th>Editar</th>
                                                            <th>Excluir</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr  th:each=" servico : ${listaServicos}">
                                                            <td class="text-center"><span th:text="${servico.id}"></span></td>
                                                            <td class="text-left"><span th:text="${servico.descricao}"></span></td>                                                                                                                      
                                                            <td class="text-left">R$ <span th:text="${servico.valor}"></span></td>  
                                                            <td class="text-left"><span th:text="${servico.tempo}"></span> hr</td>

                                                            <td class="text-center">
                                                                <!--Formulário para Editar  / Excluir Servico--> 
                                                                <!-- Btn Editar Profissional -->
                                                                <a href="#" th:href="@{${@environment.getProperty('baseUrl')+'/sistema/servico/editar/'+{servico.id}}}"><i th:title="'Editar ' + ${servico.descricao}" class="fa fa-pencil" style="font-size:x-large"></i></a>

                                                            </td>

                                                            <td class="text-center">
                                                                <form  th:action="@{${@environment.getProperty('baseUrl')+'/sistema/servico/excluir/'+{servico.id}}}" th:method="DELETE" >                                                                         

                                                                    <a  th:href="@{'#'+${servico.id}}" th:title="'Excluir ' + ${servico.descricao}"  data-toggle="modal" ><i class="fa fa-remove" style="color: red;font-size: x-large;"></i></a>

                                                                    <!--Modal Para confirmar Exclusão-->
                                                                    <div th:id="${servico.id}" th:class="@{'modal fade bs-example-modal-sm '+${servico.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                                                        <div class="modal-dialog modal-sm">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h4 class="modal-title" id="mySmallModalLabel"><span class="modal-title fa  fa-exclamation-circle" style="color:#a11"></span> Atenção</h4>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <p>Deseja realmente excluir <span th:text="${servico.descricao}"></span>?</p>

                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="submit" class="btn btn-success waves-effect">Confirmar</button>
                                                                                    <a class="btn btn-danger waves-effect waves-light" data-dismiss="modal">Cancelar</a>
                                                                                </div>
                                                                            </div><!-- /.modal-content -->
                                                                        </div><!-- /.modal-dialog -->
                                                                    </div><!-- /.modal -->
                                                                </form><!-- Fim Form -->  

                                                            </td>
                                                        </tr>


                                                    </tbody>
                                                </table>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var resizefunc = [];
        </script>
        <th:block th:include="fragments/scripts :: scripts"></th:block> 
        <!-- TimePicker -->
        <script th:src="@{/assets/timepicker/bootstrap-timepicker.min.js}"></script>
        <script th:src="@{/assets/fullcalendar/moment.min.js}"></script>

        <script>
            $(document).ready(function () {

                $('#tempo').timepicker({
                    showMeridian: false,
                    minuteStep: 15,
                    defaultTime: '00:00'
                });
            });



            $('#datatable').dataTable({
                "ordering": false
            });


        </script>


    </body>
</html>