<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >

    <!--<head th:include="fragments/header :: header"></head>-->

    <head th:include="fragments/scripts :: header" ></head>
    <body id="no-print" class="fixed-left " th:fragment="navbar" >

       

        <!-- Top Bar Start -->
        <div class="topbar no-print">
            <!-- LOGO -->
            <div class="topbar-left">                

            </div>
            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div>
                        <div class="pull-left">
                            <button class="button-menu-mobile open-left"><i class="fa fa-bars"></i></button>
                            <span id="timer"></span>
                            <span class="clearfix"></span>
                        </div>
                    </div>
                    <!--/.nav-collapse -->
                </div>

            </div>
        </div>
        <!-- Top Bar End -->

<footer class="footer text-right no-print" >
            2018 © Inside Tecnologia
        </footer>



    </body>
</html>
