<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >

    <!--<head th:include="fragments/header :: header"></head>-->

    <head th:include="fragments/scripts :: header" >
        <style>
            span#timer {
                font-size: 12px;
                line-height: 70px;
                color: #fff;
                margin-left: -10px;
            }
        </style>
    </head>
    <body id="no-print" class="fixed-left " th:fragment="navbar" >



        <!-- Top Bar Start -->
        <div class="topbar no-print">
            <!-- LOGO -->
            <div class="topbar-left">                

            </div>
            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div>
                        <div class="pull-left col-sm-1">
                            <button class="button-menu-mobile open-left"><i class="fa fa-bars"></i></button>
                            <span class="clearfix"></span>
                        </div>
                        <span  style="line-height: 70px; color: #fff;" id="timer"></span>
                    </div>
                    <!--/.nav-collapse -->
                </div>

            </div>
        </div>
        <!-- Top Bar End -->

        <footer class="footer text-right no-print" >
            2018 © Inside Tecnologia
        </footer>



    </body>
</html>
