<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" 
      >

    <head th:replace="fragments/scripts :: header"></head> 
    <body class="fixed-left"  >
        <div class="content-loader">
            <div id="loader">
                <i class="fa fa-spinner fa-spin text-primary loader" style="font-size: 50px;"></i> 
            </div>
        </div>
        <div id="wrapper">       
            <!--Navbar-->
            <div th:include="navbar/navbar :: navbar"></div>
            <!--Menu-->
            <th:block th:include="menu/menu :: menu"></th:block> 

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->                   
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                     <!-- Right Sidebar -->
                            <div class="col-md-12 col-lg-12">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="btn-toolbar pull-right" role="toolbar">
                                            <div class="pull-right">
                                                <button type="button" title="Salvar" class="btn btn-success waves-effect waves-light m-r-5"><i class="md md-add">Adicionar</i></button>
                                                <button type="button" class="btn btn-danger waves-effect waves-light m-r-5"><i class="fa fa-trash-o"></i></button>
                                                <button class="btn btn-purple waves-effect waves-light"> <span>Send</span> <i class="fa fa-send m-l-10"></i> </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div> <!-- End Rightsidebar -->
                    <div class="container">

                        <div class="row">

                            <div class="col-md-4 col-lg-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Clientes</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <table id="datatable-buttons" class="table table-striped "  style="width: 10%">
                                                    <thead>
                                                        <tr>
                                                            <th>Nivel</th> 
                                                            <th>Cod</th>
                                                            <th>Nome</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr  th:each=" cliente : ${cliente}" th:if="${cliente.isAtivo()}">
                                                            <td><span style="position:center;" class="fa fa-circle text-success pull-right" title="Iniciante"></span></td>  
                                                            <td><span th:text="${cliente.id}"></span></td>
                                                            <td><span th:text="${cliente.nome}"></span></td>                                                                                                                      
                                                        </tr>

                                                        
                                                    </tbody>
                                                </table>


                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            

                           

                        </div> <!-- container -->

                    </div> <!-- content -->
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== --> 

        <script>

            var resizefunc = [];
        </script>



        <!--Scripts-->
        <th:block th:include="fragments/scripts :: scripts"></th:block> 

        <script type="text/javascript">
            $(document).ready(function () {
                $('#datatable').dataTable();
                             
            });
            
        </script>



    </body>
</html>

