<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >

    <head></head>

    <body th:fragment="mensagemSucesso" >
        <script th:inline="javascript" th:if="${not #strings.isEmpty(mensagem)}">
            window.onload = function () {
                /*<![CDATA[*/
                
                var a = /*[[${mensagem}]]*/ 'default';
                        $.Notification.notify('success', 'top right','',a);

               console.log(a);

                /*]]>*/
            };
        </script>
    </body>
</html>
