<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >

    <head th:replace="fragments/scripts :: header"> </head> 

    <body class="fixed-left"  th:if="${cliente}" >
        <div id="wrapper">       
            <!--Navbar-->
            <div th:include="navbar/navbar :: navbar"></div>
            <!--Menu-->
            <th:block th:include="menu/menu :: menu"></th:block> 

            <!-- Painel de Cadastro -->
            <th:block th:fragment="painelCadastro">

                <div class="col-sm-8">        


                    <div class="panel panel-color panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Ficha Técnica - <span th:text="${cliente.nome}"></span></h3>
                        </div>
                        <div class="panel-body">

                            <ul class="nav nav-tabs navtab-bg"> 
                                <li >
                                    <a href="#dadosCadastrais" data-toggle="tab" aria-expanded="false">
                                        <span class="visible-xs"><i class="fa fa-home"></i></span>
                                        <span class="hidden-xs">Dados Cadastrais</span>
                                    </a>
                                </li>
                                <li >
                                    <a href="#avaliacao" data-toggle="tab" aria-expanded="true">
                                        <span class="visible-xs"><i class="fa fa-user"></i></span>
                                        <span class="hidden-xs">Avaliação</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#fotos" data-toggle="tab" aria-expanded="false">
                                        <span class="visible-xs"><i class="fa fa-envelope-o"></i></span>
                                        <span class="hidden-xs">Fotos</span>
                                    </a>
                                </li>
                            </ul>

                            <!-- *** Dados Cadastrais *** -->
                            <div class="tab-content">
                                <div class="tab-pane" id="dadosCadastrais">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" ><h3 class="panel-title">
                                                Cadastro Cliente 
                                                <div class="btn-group pull-right">
                                                    <button  type="button" class="pull-right btn btn-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Ações <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li id="btnHabilitar" ><a href="#"><i class="md md-edit" > </i> Editar</a></li> 
                                                    </ul>
                                                </div> </h3> </div>
                                        <div class="panel-body">                                        
                                            <!-- Formulário de cadastro de Cliente E Edicao -->
                                            <div class="container-fluid" th:if="${cliente.id} != null" >

                                                <form  class="form-horizontal" role="form" enctype="application/x-www-form-urlencodeds"  th:object="${cliente}" th:action="@{${@environment.getProperty('baseUrl')+'/sistema/cliente'}}" th:method="PUT"> <!-- Formulário -->
                                                    <!-- Formulário -->
                                                    <th:block th:include="formularios/formCliente :: formCliente"></th:block> 
                                                </form> 

                                            </div>
                                        </div>
                                    </div>                          
                                </div>


                                <!-- ====================== Avaliacao ============================-->
                                <div class="tab-pane " id="avaliacao">
                                    <div class="row port ">
                                        <div class="panel panel-border panel-info">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Cadastrar Avaliação</h3>
                                            </div>
                                            <div class="panel-body">


                                                <!-- FORMUlÁRIO AVALIAÇÃ0 -->
                                                <form class="form-horizontal" role="form" enctype="application/x-www-form-urlencodeds"   th:action="@{${@environment.getProperty('baseUrl')+'/sistema/api/avaliacao/'+{cliente.id}}}" th:method="POST"> <!-- Formulário -->

                                                    <input name="foto1"  type="hidden" id="foto1"/>
                                                    <input name="foto2"  type="hidden" id="foto2"/>
                                                    <input name="foto3"  type="hidden" id="foto3"/>
                                                    <input name="foto4"  type="hidden" id="foto4"/>
                                                    <input name="foto5"  type="hidden" id="foto5"/>
                                                    <input name="foto6"  type="hidden" id="foto6"/>
                                                    <input name="foto7"  type="hidden" id="foto7"/>
                                                    <input name="foto8"  type="hidden" id="foto8"/>
                                                    <input name="foto9"  type="hidden" id="foto9"/>
                                                    <input name="foto10" type="hidden" id="foto10"/>
                                                    <input name="foto11" type="hidden" id="foto11"/>
                                                    <input name="foto12" type="hidden" id="foto12"/>
                                                    <input name="foto13" type="hidden" id="foto13"/>
                                                    <input name="foto14" type="hidden" id="foto14"/>
                                                    <input name="foto15" type="hidden" id="foto15"/>
                                                    <fieldset>
                                                        <legend th:if="${avaliacao} != null" style="color:red; background-color: #e5e5e5;" >Data: <span th:text="${avaliacao.dataAvaliacao}"> </span></legend>
                                                        <h5>Anamnese:</h5><textarea required="true" name="anamnese"  rows="5" class="col-sm-12" ></textarea>
                                                        <h5>Antecedentes Pessoais:</h5><textarea name="ap" rows="2" class="col-sm-12"></textarea> 
                                                        <h5>Exames  Complementares:</h5><textarea name="examesComplementares" rows="2" class="col-sm-12" ></textarea>
                                                        <h5>Queixa Principal:</h5><textarea name="qp"  rows="2" class="col-sm-12"></textarea>
                                                        <h5>Diagnóstico:</h5><textarea name="diagnostico"  rows="5" class="col-sm-12" style="border-bottom: 1px;"></textarea>

                                                        <!-- Dropzone Selecao de fotos -->
                                                        <div class="row">
                                                            <div class="col-md-12 portlets">                                                                
                                                                Fotos da Avaliação:
                                                                <div class="m-b-30 dropzone" type="hidden" id="myDropzone">
                                                                    <div class="fallback"></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div>
                                                            <h5>Descrição Fotos:</h5>                                            
                                                            <textarea  name="descricao"  rows="2" class="col-sm-12" ></textarea>
                                                        </div>                                                        
                                                    </fieldset>

                                                    <div class="form-footer">
                                                        <button type="submit" class="btn btn-success waves-effect">Salvar</button>
                                                        <a class="btn btn-danger waves-effect waves-light" data-dismiss="modal">Cancelar</a>
                                                    </div>

                                                </form>
                                            </div>                                           

                                        </div>


                                        <!-- =========== EDICAO DE AVALIACAO - Relatório ================= -->
                                        <div class="panel panel-border panel-info" th:each=" avaliacao, contador : ${listaAvaliacao}">
                                            <div class="panel-heading">
                                                <h3 class="panel-title" style="color:red; font:14px;"><span th:text="${contador.count}"></span>º - Avaliação ( <span th:text="${avaliacao.dataAvaliacao}  "></span> )</h3>
                                            </div>
                                            <div class="panel-body"> 
                                                <form th:if="${avaliacao} != null" class="form-horizontal" role="form" enctype="application/x-www-form-urlencodeds"  th:object="${avaliacao}" th:action="@{${@environment.getProperty('baseUrl')+'/sistema/api/avaliacao/'+{avaliacao.id}}}" th:method="PUT"> <!-- Formulário -->
                                                    <div id="formEditarAvaliacao">               

                                                        <input type='text' name='id' th:value='${avaliacao.id}'/>
                                                        <input type="text" name="dataAvaliacao" th:value='${avaliacao.dataAvaliacao}'/>
                                                        <input type="text" name="hora" th:value='${avaliacao.hora}'/>
                                                        <h5>Anamnese:</h5>                                            
                                                        <textarea  name="anamnese"  rows="5" class="col-sm-12" ><th:block th:text="${avaliacao.anamnese}"> </th:block></textarea>
                                                        <h5>Antecedentes Pessoais:</h5>
                                                        <textarea name="ap" rows="2" class="col-sm-12"><th:block th:text="${avaliacao.ap}"> </th:block></textarea> 
                                                        <h5>Exames  Complementares:</h5>
                                                        <textarea name="examesComplementares" rows="2" class="col-sm-12" ><th:block th:text="${avaliacao.examesComplementares}"> </th:block></textarea>
                                                        <h5>Queixa Principal:</h5>
                                                        <textarea name="qp"  rows="2" class="col-sm-12"><th:block th:text="${avaliacao.qp}"> </th:block></textarea>
                                                        <h5>Diagnóstico:</h5>
                                                        <textarea name="diagnostico"  rows="2" class="col-sm-12" style="border-bottom: 0px;"><th:block th:text="${avaliacao.diagnostico}"> </th:block></textarea>

                                                    </div> 

                                                    <br></br>

                                                    <div class="form-footer">
                                                        <button type="submit" class="btn btn-success waves-effect">Salvar</button>
                                                        <a class="btn btn-danger waves-effect waves-light" data-dismiss="modal">Cancelar</a>
                                                    </div>

                                                    <!--  <th:block th:include="fragments/formEditarAvaliacao :: formEditarAvaliacao"></th:block> -->
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- Fim Edicao Avaliacao -->




                                <!-- FOTOS -->
                                <div class="tab-pane" id="fotos">
                                    <div class="row port">                               
                                        <div class="panel col-sm-12  " th:each=" avaliacao, contador : ${listaAvaliacao}" >                         


                                            <div class="panel-heading">
                                                <h3 class="panel-title" style="color:red; font:14px;"><span th:text="${contador.count}"></span>º - Avaliação ( <span th:text="${avaliacao.dataAvaliacao}  "></span> )</h3>
                                            </div>

                                            <div style="padding:  30px;  background-color: #f7f4f4; border: 1px;" class="panel-body">
                                                <img th:src="${avaliacao.fotos.foto1 } " class="fotoAvaliacaoMiniatura"  alt=""/>
                                                <img th:src="${avaliacao.fotos.foto2 } " class="fotoAvaliacaoMiniatura"  alt=""/>
                                                <img th:src="${avaliacao.fotos.foto3 } " class="fotoAvaliacaoMiniatura"  alt=""/>
                                                <img th:src="${avaliacao.fotos.foto4 } " class="fotoAvaliacaoMiniatura"  alt="" />
                                                <img th:src="${avaliacao.fotos.foto5 } " class="fotoAvaliacaoMiniatura"  alt="" />
                                                <img th:src="${avaliacao.fotos.foto6 } " class="fotoAvaliacaoMiniatura"  alt="" />
                                                <img th:src="${avaliacao.fotos.foto8 } " class="fotoAvaliacaoMiniatura"  alt="" />
                                                <img th:src="${avaliacao.fotos.foto9 } " class="fotoAvaliacaoMiniatura"  alt="" />
                                                <img th:src="${avaliacao.fotos.foto10} " class="fotoAvaliacaoMiniatura"  alt="" />
                                                <img th:src="${avaliacao.fotos.foto11} " class="fotoAvaliacaoMiniatura"  alt="" />
                                                <img th:src="${avaliacao.fotos.foto12} " class="fotoAvaliacaoMiniatura"  alt="" />
                                                <img th:src="${avaliacao.fotos.foto13} " class="fotoAvaliacaoMiniatura"  alt="" />
                                                <img th:src="${avaliacao.fotos.foto14} " class="fotoAvaliacaoMiniatura"  alt="" />
                                                <img th:src="${avaliacao.fotos.foto15} " class="fotoAvaliacaoMiniatura"  alt="" />
                                            </div>
                                            <h4>Descrição:</h4>
                                            <p><span th:text="${avaliacao.fotos.descricao}"></span></p>
                                        </div>





                                    </div>
                                </div> <!-- End row -->



                            </div>
                        </div>
                    </div>
                </div>

            </th:block>    

        </div>
    </body>
</html>
