
.jr-required > .control-label:after {
    content: "*";
}

.content {
    background-color: #eaeaea;
}


img#logoNavbar {
    width: 80%;
    padding: 8%;
}




@media print {

    .no-print, .no-print * {
        visibility: hidden;
    }
    .no-print {
        position: fixed;
        left: 0;
        top: 0;
    }
    div#datatable_length {
        visibility: hidden;
    }
    div#datatable_filter {
        visibility: hidden;
    }   

    div#datatable_info {
        visibility: hidden;
    }
    div#datatable_paginate {
        visibility: hidden; 
    }

}



/*Campo de exibir registros no datatable*/
div#datatable_length { 
    float: left;
}

div#datatable_info {
    float: left;
}

th.sorting {
    text-align: center;

}

th.sorting_asc {
    text-align: center;

}
th.sorting_desc {
    text-align: center;

}

.noBorder {
    border: none;
}



table {
    width: 100% !important;
}

#jr-th>tr>th{
    border-color:black!important;
}

#jr-td>tr>td{
    border-color:black!important;
}



span#timer {
    color: white;
    font-weight: bold;
}



div#corpoDisplay {
    height: 403px;
    width: 450px;
    overflow: hidden;
    background-image: url("../images/svg/preview-cel.svg");
    margin: 0 auto;
}

div#painelNotificacao {
    position: absolute;
    margin-left: 4px;
    margin-top: 235px;
    width: 402px;
}

span#app-name {
    color: red;
    font-size: 12px;
    padding: 7px;
}

#painelMensagem{
    height: 353px;   
}

#tempoNotificacao{
    color: gray;
    margin-top: -17px;
    margin-left: 120px;
    font-size: 11px;
    display: list-item;
}

div#corpoHoraDataDisplay {
    padding:90px;
    position: absolute;
}

div#horaDisplay {    
    font-size: 83px;    
}

div#dataDisplay {  
    margin-top: -17px;
    margin-left: 22px;
    font-size: 15px;
}

/* Apaga o Botao de Copy da dataTable */
a.btn.btn-default.buttons-copy.buttons-html5.btn-sm {
    display: none;
}

div#con-close-modal {
    bottom: 5%;
}

.modal-content {
    width: 135%;
}

.panel .panel-body {
    background-color: white;
    padding: 10px;
}

.navbar.navbar-default.navbar-fixed-top {
   background: #076585;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.panel-color .panel-title {
    color: #787878;
}


.panel .panel-body {
    padding: 20px;
   
}

.form-footer {
    padding-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    padding-bottom:  15px;
}

textarea.col-sm-12 {
    border-top:  0px;
    border-left:  0px;
    border-right:   0px;
    border-bottom:  1px, 1px , 0px;
    border-bottom-color: #e5e5e5;
    min-width: 100%;
    max-width: 100%;
    margin-top: -10px;
    margin-bottom: 15px;
    box-sizing: initial;
  overflow:hidden;
  /* demo only: */
  padding:10px;
  width:100%;
  font-size:14px;
  display:block;
  }
  
  img.fotoAvaliacaoMiniatura {
    width: 300px;
    height: 300px;
   border-radius: 10px; 

    
}
  
.mini-stat{
    border-radius: 10px;
}

.content {
    background-color: #f5f5f5;
}


.section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

/* Portfolio Section
--------------------------------*/
#portfolio {
  /*background: #fff;*/
  
}

#portfolio .portfolio-item {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 260px;
  width: 100%;
  display: table;
  overflow: hidden;
  margin-bottom: 30px;
}

#portfolio .portfolio-item .details {
  height: 260px;
  background: #fff;
  display: table-cell;
  vertical-align: middle;
  opacity: 0;
  transition: 0.3s;
  text-align: center;
}

#portfolio .portfolio-item .details h4 {
  font-size: 16px;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  font-weight: 700;
  color: #333333;
}

#portfolio .portfolio-item .details span {
  display: block;
  color: #666666;
  font-size: 13px;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
}

#portfolio .portfolio-item:hover .details {
  opacity: 0.8;
}

#portfolio .portfolio-item:hover .details h4 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#portfolio .portfolio-item:hover .details span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}


/* Portfolio Section */
#portfolio {
	
	/*background: #f6f6f6;*/
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
}
ol.type li a {
	border: 1px solid #777;
	color: #555;
	padding: 8px 20px;
}
ol.type li a.active {
	background: #222;
	border: 1px solid #222;
	color: #fff;
}
ol.type li a:hover {
	background: #222;
	border: 1px solid #222;
	color: #fff;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin: 15px 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.portfolio-item .hover-bg {
	height: 195px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 30% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	text-transform: uppercase;
	opacity: 0;
	color: #fff;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
#portfolio i.fa {
	font-size: 20px;
	padding: 5px;
	color: #E87E04;
}

ul.cat li {
	display: inline-block;
}

ol.type li {
	display: inline-block;
	margin-left: 20px;
}
ol.type li a {
	border: 1px solid #777;
	color: #555;
	padding: 8px 20px;
}
ol.type li a.active {
	background: #222;
	border: 1px solid #222;
	color: #fff;
}
ol.type li a:hover {
	background: #222;
	border: 1px solid #222;
	color: #fff;
}