
.jr-required > .control-label:after {
    content: "*";
}

.content {
    background-color: #eaeaea;
}


img#logoNavbar {
    width: 80%;
    padding: 8%;
}




@media print {

    .no-print, .no-print * {
        visibility: hidden;
    }
    .no-print {
        position: fixed;
        left: 0;
        top: 0;
    }
    div#datatable_length {
        visibility: hidden;
    }
    div#datatable_filter {
        visibility: hidden;
    }   

    div#datatable_info {
        visibility: hidden;
    }
    div#datatable_paginate {
        visibility: hidden; 
    }

}



/*Campo de exibir registros no datatable*/
div#datatable_length { 
    float: left;
}

div#datatable_info {
    float: left;
}

th.sorting {
    text-align: center;

}

th.sorting_asc {
    text-align: center;

}
th.sorting_desc {
    text-align: center;

}

.noBorder {
    border: none;
}



table {
    width: 100% !important;
}

#jr-th>tr>th{
    border-color:black!important;
}

#jr-td>tr>td{
    border-color:black!important;
}

#jr-marcaDagua:after {
    opacity:0.1;
    filter:     alpha(opacity=40); /* For IE8 and earlier */
    content: url(http://www.armorcred.com.br/imagens/logo_cores.png); 

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    -o-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

span#timer {
    color: white;
    font-weight: bold;
}



div#corpoDisplay {
    height: 403px;
    width: 450px;
    overflow: hidden;
    background-image: url("../images/svg/preview-cel.svg");
    margin: 0 auto;
}

div#painelNotificacao {
    position: absolute;
    margin-left: 4px;
    margin-top: 235px;
    width: 402px;
}

span#app-name {
    color: red;
    font-size: 12px;
    padding: 7px;
}

#painelMensagem{
    height: 353px;   
}

#tempoNotificacao{
    color: gray;
    margin-top: -17px;
    margin-left: 120px;
    font-size: 11px;
    display: list-item;
}

div#corpoHoraDataDisplay {
    padding:90px;
    position: absolute;
}

div#horaDisplay {    
    font-size: 83px;    
}

div#dataDisplay {  
    margin-top: -17px;
    margin-left: 22px;
    font-size: 15px;
}

/* Apaga o Botao de Copy da dataTable */
a.btn.btn-default.buttons-copy.buttons-html5.btn-sm {
    display: none;
}

div#con-close-modal {
    bottom: 5%;
}

.modal-content {
    width: 135%;
}

.panel .panel-body {
    background-color: white;
    padding: 10px;
}

.navbar.navbar-default.navbar-fixed-top {
   background: #076585;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.panel-color .panel-title {
    color: #787878;
}


.panel .panel-body {
    padding: 20px;
   
}

.form-footer {
    padding-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    padding-bottom:  15px;
}

textarea.col-sm-12 {
    border-top:  0px;
    border-left:  0px;
    border-right:   0px;
    border-bottom:  1px, 1px , 0px;
    border-bottom-color: #e5e5e5;
    min-width: 100%;
    max-width: 100%;
    margin-top: -10px;
    margin-bottom: 15px;
    box-sizing: initial;
  overflow:hidden;
  /* demo only: */
  padding:10px;
  width:100%;
  font-size:14px;
  display:block;
  }
  
  